.theme--dark.v-card {
  color: #000000 !important;

  .v-card__text {
    color: #000000 !important;
  }
}

.v-slide-group__prev, .v-slide-group__next {
  min-width: 24px !important;

  .v-icon {
    color: #000000 !important;
  }
}
