.post-header-container {
  padding: 16px 16px 8px;

  &-subtitle {
    font-size: 12px;
    
    &-icon {
      font-size: 16px !important;
    }
  }
}

.post-text-container {
  display: block;
  white-space: normal;
  padding: 4px 24px 24px;

  .expand-btn {
    color: #1111c1;
    text-decoration: underline;
    cursor: pointer;

    &.collapse-btn {
      position: absolute;
      right: 24px;
    }
  }

  &-extended-text {
    opacity: 0;
    font-size: 0;
    transition: opacity .25s, font-size .25s;

    &-visible {
      transition: opacity .25s, font-size .25s;
    }
  }
}

.post-btn {
  cursor: pointer;
  transition: 0.3s all;
  background-color: #FFFFFF;

  &:hover {
    background-color: #E0E0E0;
  }
}

.v-btn:not(.v-btn--text):not(.v-btn--outlined):hover:before,
.v-btn:not(.v-btn--text):not(.v-btn--outlined):focus:before {
  opacity: 0 !important;
}
