.content-container {
  width: 30%;
  padding: 0 !important;
}

.post-container {

  .post-header-container {
    padding: 16px 16px 8px;
  
    &-subtitle {
      font-size: 12px;
      
      &-icon {
        font-size: 16px !important;
      }
    }
  }
}

.post-text-container {
  display: block;
  white-space: pre-line;
  padding: 0 24px 24px;
  transition: height 5s;

  .expand-btn {
    color: #1111c1;
    text-decoration: underline;
    cursor: pointer;
  }
}

.post-btn {
  cursor: pointer;
  transition: 0.3s all;
  background-color: #FFFFFF;

  &:hover {
    background-color: #E0E0E0;
  }
}

.v-btn:not(.v-btn--text):not(.v-btn--outlined):hover:before,
.v-btn:not(.v-btn--text):not(.v-btn--outlined):focus:before {
  opacity: 0 !important;
}
